.login-page{

    .login-title{

        margin-left: 80px;
        a{
            text-decoration: none;
            color: black;
        }
    }
}

@media only screen and (max-width: 600px){
    .login-page{

    .login-title{

        margin-left: 27px;
        a{
            text-decoration: none;
            color: black;
        }
    }
}

}