.navbar {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 3em;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  position: fixed;
  width: 100%;
  top: 0;
  .nav-links ul {
    display: flex;
    list-style: none;
    width: 90vw;
    margin: 0;
    height: 3em;
    align-items: center;
    font-family: "Quicksand", sans-serif;

    & li a {
      text-decoration: none;
      margin: 0 1em;
      color: white;
      transition: 0.5s;
    }

    & li a:hover {
      background: transparent;
      color: black;
      transition: 0.5s;
    }

    .search-input {
      padding: 10px;
      border: none;
      border-radius: 5px;
      opacity: 0.7;

      &:focus {
        outline: none;
      }
    }
  }

  .nav-accessories {
    display: flex;
    align-items: center;
    margin-right: 40px;
    position: relative;
    margin-left: -96px;

    .nav-mobile {
      display: none;
    }
    & a {
      text-decoration: none;
      margin: 0 1em;
      color: white;
      transition: 0.5s;
    }

    a:hover {
      background: transparent;
      color: black;
      transition: 0.5s;
    }

    .shopping-cart {
      max-width: 0.27rem;
      .cart {
        position: relative;
        top: 21px;
        right: 60px;
      }
      .cart-counter {
        position: relative;
        bottom: 39px;
        left: -20px;
      }
      .dot {
        height: 18px;
        width: 20px;
        background-color: rgb(189, 64, 64);
        border-radius: 50%;
        display: inline-block;
        position: relative;
        bottom: 15px;
        left: -25px;

        // margin-left: 7px;
      }
    }
  }
}
.nav-login {
  color: white;
  // display:flex;
  .logout {
    display: flex;
    align-items: center;
    grid-gap: 30px;

    .logout-button {
      background: transparent;
      color: white;
      border: none;
      margin-top: 5px;
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: black;
        transition: 0.5s;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    //   display: none;


     .nav-mobile {
        display: flex;
        color: #fff;
        position: absolute;
        left: 20px;
      }
    }
    .nav-mobile-view {
      background: #ffff;
      position: absolute;
      left: 8px;
    //   width: 100%;
    //   height: 50vh;
      border-radius: 10px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      padding-left: 0px;
      padding: 20px;
      top: 53px;
      transition: all 1.5s ease;

            .mobile-list{
            list-style: none;
              & a {
                  text-decoration: none;
                  color: black;
                  margin: 50px
              }
      }
    }
    .nav-links {
      display: none;
    }
    .nav-accessories {
      .nav-login {
        display: flex;
        position: relative;
        left: 214px;
          
         .logout {
    display: flex;
    // flex-direction: column;
    align-items: center;
    grid-gap: 5px;
         }
      }
      .shopping-cart {
        max-width: 0.27rem;
        .cart {
          position: relative;
          top: 21px;
          left: 181px;
        }
        .cart-counter {
        //   position: absolute;
          margin-bottom: 39px;
          margin-left: 238px;
        }
        .dot {
          height: 18px;
          width: 20px;
          background-color: rgb(189, 64, 64);
          border-radius: 50%;
          display: inline-block;
        //   position: relative;
        //   margin-bottom: 1px;
          margin-left: 238px;

          // margin-left: 7px;
        }
      }
    
  }
}
