.men{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    justify-content: center;
    margin: 25px;
    
}

@media only screen and (max-width: 600px){
     .men{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    grid-gap: 22px;
}
}